$logintext: #4a5568;
.login {
	width: 100%;
	height: 100vh;
	background-color: #e5e5e5;
	display: flex;
	justify-content: center;
	align-items: center;
	&__number {
		width: 300px;
		margin: 10px 0;
	}
	&__inner {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 400px;
		background-color: #fff;
		padding: 50px 0;
	}
	&__form {
		display: flex;
		min-width: 300px;
		flex-direction: column;
	}
	&__text {
		font-weight: 700;
		font-size: 1.9rem;
		margin-bottom: 24px;
	}
	&__text_up {
		color: $logintext;
		font-weight: 400;
	}
	&__input {
		margin: 10px 0;
		font-size: 14px;
		padding: 10px 10px 10px 10px;
		border-radius: 5px;
		border: 1px solid #e8e8e8;
	}
	&__input__error {
		margin: 0 0 7px 0;
		color: red;
	}
	&__forget__password {
		margin-top: 10px;
	}
	&__submit {
		margin-top: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		background-color: #04c35c;
		padding: 15px 0;
		font-weight: 700;
		color: #fff;
		border-radius: 5px;
		&:active {
			background-color: #03a34e;
		}
	}
	&__register {
		color: rgb(72, 35, 206);
		background-color: #fff;
		margin-top: 30px;
	}
}
@media (max-width: 768px) {
	.login__inner {
		width: 350px;
	}
}
